.Header {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  display: flex;
}

.nav-link {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  padding-right: 34px;
}

.nav-link:last-child {
  padding-right: 0px;
}

.contacts {
  display: flex;
  gap: 16px;
}

.contact {
  width: 49px;
  transition: 0.3s;
}

.contact:hover {
  filter: brightness(1.75);
}

.stroke {
  background-color: #d1005e;
  height: 5px;
}

.burger {
  display: none;
}

.backround {
  background-color: #00000070;
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 9;
  top: 0;
}

.side_menu {
  display: none;
  background-color: #d1005e;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  right: 0;
  height: 100%;
  top: 0;
  z-index: 10;
}

.side_menu_close {
  width: 45px;
  height: 45px;
  filter: brightness(100);
  cursor: pointer;
}

.side_menu_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.side_menu_servises {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 5px;

  span {
    border-bottom: 3px solid #fff;
    width: 170px;
    text-align: center;
  }
}

.servisesModal {
  background-color: rgba(0, 0, 0, 0.66);
  position: absolute;
  left: 635px;
  padding: 25px;
  top: 90px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.servise {
  max-width: 250px;
  transition: .3s;
}

.servise:hover {
  color: #d1005e;
}

.side_menu_nav-link {
  max-width: 180px;
  text-align: center;
}

@media (max-width: 1670px) {
  .servisesModal {
    left: 500px;
  }
}

@media (max-width: 1450px) {
  .servisesModal {
    left: 400px;
  }
}

@media (max-width: 1230px) {
  .servisesModal {
    left: 325px;
    padding: 15px;
    font-size: 16px;
  }

  .servise {
    max-width: 200px;
  }

  .nav-link {
    font-size: 20px;
  }

  .logo {
    width: 150px;
  }

  .contact {
    width: 40px;
  }
}

@media (max-width: 970px) {
  .servisesModal {
    left: 250px;
    padding: 15px;
    font-size: 16px;
  }

  .nav-link {
    font-size: 16px;
    padding-right: 20px;
  }

  .logo {
    width: 130px;
  }

  .contact {
    width: 40px;
  }
}

@media (max-width: 800px) {
  .servisesModal {
    left: 200px;
    padding: 15px;
    font-size: 12px;
  }

  .servise {
    max-width: 150px;
  }

  .nav-link {
    font-size: 14px;
    padding-right: 10px;
  }

  .logo {
    width: 100px;
  }

  .contact {
    width: 35px;
  }

  .stroke {
    height: 4px;
  }
}

@media (max-width: 700px) {
  .nav {
    display: none;
  }
  .stroke {
    display: none;
  }

  .Header {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-end;
  }

  .logo {
    width: 150px;
  }

  .contact {
    width: 45px;
  }

  .burger {
    display: block;
    width: 45px;
    height: 45px;
    align-self: center;
    cursor: pointer;
  }

  .side_menu {
    display: block;
    position: fixed;
  }

  .backround {
    display: block;
  }
}

@media (max-width: 420px) {
  .Header {
    gap: 15px;
  }
}

@media (max-width: 370px) {
  .Header {
    gap: 10px;
  }

  .contact {
    width: 30px;
  }
}
