.main {
  justify-self: center;
}

.takisawa {
  width: 1791.98px;
  margin-bottom: 64px;
  margin-top: 80px;
}

.takisawa img{
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  /* border-bottom: 2px solid #D1005E; */
}
.line {
  width: 220px;
  height: 4px;
  background-color: #d1005e;
}
.line2 {
  width: 327px;
  height: 4px;
  background-color: #d1005e;
  margin-bottom: 70px;
}
.line3 {
  width: 250px;
  height: 4px;
  background-color: #d1005e;
  margin-bottom: 70px;
}
.text {
  margin-top: 30px;
  width: 1768px;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 70px;
}
.link {
  border-bottom: 1px solid #000000;
}
.gallery {
  display: flex;
  flex-direction: row;
}
.ser1 {
  width: 357px;
  height: 508px;
}
.ser2 {
  margin-left: auto;
  margin-right: auto;
  width: 731px;
  height: 509px;
}
.ser3 {
  width: 370px;
  height: 509px;
}
.whitespace {
  display: none;
}

.takisawa_img_SMOOOOL{
  display: none;
  height: 100%;
  width: 100%;
}

.EXTERNAL_BR{
  display: none;
}

@media (max-width: 1700px) {
  .takisawa {
    width: 1530px;
  }
  .text {
    width: 1530px;
  }
}
@media (max-width: 1600px) {
  .takisawa {
    width: 1430px;
  }
  .text {
    width: 1430px;
  }
}
@media (max-width: 1500px) {
  .takisawa {
    width: 1330px;
  }
  .text {
    width: 1330px;
    font-size: 22px;
  }
  .line {
    width: 156px;
  }
  .title {
    font-size: 22px;
  }
}
@media (max-width: 1400px) {
  .takisawa {
    width: 1230px;
  }
  .text {
    width: 1230px;
  }
}
@media (max-width: 1300px) {
  .takisawa {
    width: 1130px;
  }
  .text {
    width: 1130px;
  }
}
@media (max-width: 1200px) {
  .takisawa {
    width: 1030px;
  }

  .text {
    width: 1030px;
  }
}
@media (max-width: 1100px) {
  .takisawa {
    width: 930px;
  }
  .text {
    width: 930px;
  }
}
@media (max-width: 1000px) {
  .takisawa {
    width: 830px;
  }
  .text {
    width: 830px;
  }
}
@media (max-width: 900px) {
  .takisawa {
    width: 730px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .line {
    width: 130px;
  }
  .title {
    font-size: 18px;
  }
  .text {
    width: 730px;
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .takisawa {
    width: 630px;
  }
  .text {
    width: 630px;
  }
}
@media (max-width: 700px) {
  .takisawa {
    width: 530px;
    
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .text {
    width: 530px;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .takisawa {
    width: 430px;
  }
  .text {
    width: 430px;
  }
}
@media (max-width: 500px) {
  .takisawa {
    width: 330px;
  }
  .text {
    width: 330px;
  }
  .whitespace {
    display: block;
  }
  .takisawa_img_SMOOOOL{
    display: block;
  }
  
  .takisawa_img_BIIIG{
    display: none;
  }

}
@media (max-width: 400px) {
  .takisawa {
    width: 230px;
  }
  .text {
    width: 230px;
  }
}
